.footer_logo_image {
    top: -85px;
}

.without-line-height a {
    line-height: 2;
}

.kategorija-text-area {
    height: 212px;
    line-height: 20px;
    padding-top: 10px;
}

.max-character {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.rezerviraj-button {
    width: 120px !important;
    font-size: 14px !important;
    padding-left: 25px !important;
}