<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/prosireniHead :: baseHead(~{::title})">
    <title>Smjestaji</title>
</head>
<body>

<div class="super_container">

    <!-- Header -->

    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_container d-flex flex-row align-items-center justify-content-start">

                        <!-- Logo -->
                        <div class="logo_container">
                            <div class="logo">
                                <div>destino</div>
                                <div>travel agency</div>
                                <div class="logo_image"><img src="/images/logo.png" alt=""></div>
                            </div>
                        </div>

                        <!-- Main Navigation -->
                        <nav class="main_nav ml-auto">
                            <ul class="main_nav_list">
                                <li class="main_nav_item"><a href="/">Početna</a></li>
                                <th th:if="${korisnickoIme == ''}">
                                    <li class="main_nav_item"><a href="/prijava">Prijava</a></li>
                                    <li class="main_nav_item"><a href="/registracija">Registracija</a></li>
                                </th>
                                <th th:unless="${korisnickoIme == ''}">
                                    <li class="main_nav_item"><a href="/mojeRezervacije">Moje rezervacije</a></li>
                                    <li th:classappend="${adminKorisnik} ? 'dropdown' : ''" class="main_nav_item">
                                        <a th:text="${korisnickoIme}"
                                           th:classappend="${adminKorisnik} ? 'dropdown-toggle' : ''" class="nav-link"
                                           data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                           aria-expanded="false"></a>
                                        <div th:if="${adminKorisnik}" class="dropdown-menu without-line-height">
                                            <a class="dropdown-item">Akcije admina</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/admin/dodaj-lokaciju">Dodaj lokaciju</a>
                                            <a class="dropdown-item" href="/admin/dodaj-smjestaj">Dodaj smještaj</a>
                                        </div>
                                    </li>
                                    <li class="main_nav_item"><a href="#"
                                                                 onclick="document.getElementById('odjava_forma').submit()">Odjava</a>
                                    </li>
                                </th>
                            </ul>
                        </nav>

                        <form id="odjava_forma" hidden="hidden" method="post" th:action="@{/odjava}">
                            <input type="submit">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        </form>

                        <!-- Hamburger -->
                        <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Home -->

    <div class="home">
        <!-- Image by https://unsplash.com/@peecho -->
        <div class="home_background parallax-window" data-parallax="scroll"
             data-image-src="/images/about_background.jpg"
             data-speed="0.8"></div>
    </div>

    <!-- Offers -->

    <div class="offers">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h2>Predloženi smještaji</h2>
                        <div>Bacite pogled na sljedeće ponude</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="items item_grid clearfix">

                        <!-- Item -->
                        <div th:each="smjestaj,it : ${smjestaji}" th:classappend="${'rating_' + smjestaj.brojZvjezdica}" class="item clearfix">
                            <div th:with="carouselId=${'carouselId' + it.index}" th:attr="id=${carouselId}" class="carousel slide item_image" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li th:each="slika,it : ${smjestaj.slikeSmjestaja}"
                                        th:attr="data-target=${'#' + carouselId},data-slide-to=${it.index}"
                                        th:classappend="${it.index == 0} ? 'active' : ''"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div th:each="slika,it : ${smjestaj.slikeSmjestaja}"
                                         th:classappend="${it.index == 0} ? 'active' : ''" class="carousel-item">
                                        <img class="d-block w-100" th:attr="src=${slika.putanjaSlike}">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" th:attr="href=${'#' + carouselId}" role="button"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" th:attr="href=${'#' + carouselId}" role="button"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div class="item_content">
                                <div th:text="${'Cijena: ' + smjestaj.cijena * rezervacijaDto.brojOsoba + ' kn'}" class="item_price"></div>
                                <div th:text="${smjestaj.naziv + ', ' + smjestaj.lokacija.naziv}" class="item_title"></div>
                                <ul>
                                    <li th:text="${'Prikazana cijena je za ' + rezervacijaDto.brojOsoba + ' osobu/e'}"></li>
                                </ul>
                                <div th:attr="data-rating=${smjestaj.brojZvjezdica}"
                                     th:classappend="${'rating_' + smjestaj.brojZvjezdica}" class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div th:text="${smjestaj.opis}" class="item_text max-character"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->

<th:block th:replace="fragments/footer :: footer"></th:block>
</div>
</body>
</html>